* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *{
    padding: 10px;
    text-align: center;
}

input{
    display: inline block;
    border: 1px black solid;
}

fieldset{
  align-content:  center;
}

.userScore {
    display: inline-block;
}

.questionNumber {
    display: inline-block;
}

.answer-img{
    width: 400px;
<<<<<<< HEAD
    max-height: 300px;
=======
    height: 300px;
>>>>>>> caecc79ed02c8e4fd02277a91381e08bda2f3b45
}

button {
    display: block;
    max-width: 300px;
    margin: auto;
<<<<<<< HEAD
}
=======
  }
>>>>>>> caecc79ed02c8e4fd02277a91381e08bda2f3b45
