* {
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: #e62206;
}

.correct-answer img{
    padding:0;
    border: 10px green solid;
}

.wrong-answer img{
    padding:0;
    border: 10px red solid;
}


body *{
    text-align: center;
}

header{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    color: white;
}

main{
    display: border-box;
    background: white;
    width: 500px;
    padding: 10px;
    padding-bottom:20px;
    padding-top:20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom:40px; 
    border-radius: 4px;
}

h2{
    margin-bottom:10px;
    padding-bottom:10px;
}

input{
    display: inline block;
    border: 1px black solid;
}

/* label {
    display: flex;
    padding:10px;
    margin:auto;
    margin-bottom:6px;
    //border: 1px red solid;
    font-size: 18px;
    font-weight: 500;
} */

label {
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="radio"]{
    /* padding:0;
    align-self: auto; */
    margin-right: 10px;
    border: 1px blue solid;
}

fieldset{
    padding: 0;
    border: 0;
    /* margin: 0;
    align-content:  center; */
}

button{
    padding: 10px;
    display: block;
    max-width: 300px;
    margin: auto;
    height:auto;
    text-align: center;
    margin-top: 15px;
    color: white;
    background-color: #3064f4;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600; 
    border-radius: 4px;
}

button:hover,
button:focus{
    background-color: #103cd4;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.userScore {
    padding: 10px;
    display: inline-block;
}

.questionNumber {
    display: inline-block;
}

.answer-img{
    max-width: 400px;
    max-height: 300px;
}

.container {
    display: block;
    position: relative;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background:#dadada;
}

.container input {
position: absolute;
opacity: 0;
cursor: pointer;
}

.checkmark {
position: absolute;
top:8px;
left: 10px;
height: 25px;
width: 25px;
background-color: #eee;
border-radius: 50%;
}

.container:hover input ~ .checkmark,
.container:focus input ~ .checkmark {
background-color: #ccc;
}

.container input:checked ~ .checkmark {
background-color: #3064f4;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.container input:checked ~ .checkmark:after {
display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

@media screen and (max-width: 1000px) {
    main{
        width:80%;
        border-radius: 4px;
    }
    .answer-img{
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 720px) {
    main{
        width:100%;
        padding:20px;
        margin-top:0;
        border-radius: 0px;
    }
    h2{
        margin-bottom:10px;
        padding-bottom:10px;
    }
    .answer-img{
        max-width: 300px;
        max-height: 250px;
    }
}

@media screen and (max-width: 320px) {
    h1{
       font-size:20px;
    }
}